@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futurism';
  src: url('/futurism.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeinout {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
.animate-fadeinout {
  animation: fadeinout 6s ease-in-out infinite;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}